@charset "utf-8";

body h4 { font: italic
}

/* CSS Document */
/*Holliday Webcite CSS Document*/

p { color: cadetblue
}
body {
background: #1C6DA7}
h1 {
    color: #000000;
    text-align: center;
}
#wrapper {
	background-color: #FFFFFF;
	width: 1000px;
}
#wrapper {
}
